*{

box-sizing:border-box;
margin: 5;
padding: 5;

}


.tag{

    display: inline-block;
    color: #F6F8F9;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;

}

body{

background-color: #F6F8F9;
font-family: "Roboto", sans-serif;

}



/* ------ Page Header------*/

.header{

background-color: #ffff;
padding: 15px 20px;
margin-bottom: 40px;

}

h1{

    display: inline-block;

}

.logo{

vertical-align: middle;

}